<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); line-height: 1.5;">
    <center style="color:white;font-size:35px;padding:15px"><b> ĐỒ ÁN CUỐI KỲ </b></center>
<center style="color:black;font-size:30px;padding:15px"><b> LẬP TRÌNH CHO KHOA HỌC DỮ LIỆU</b></center>
</div>

## Import các thu viện cần thiết

In [2]:
import pandas as pd

## 1. Khám phá dữ liệu

### Đọc dữ liệu vào dataframe

In [3]:
df = pd.read_csv('../Data/who_life_exp.csv')

In [4]:
df.head()

,country,country_code,region,year,life_expect,life_exp60,adult_mortality,infant_mort,age1-4mort,alcohol,...,che_gdp,une_pop,une_infant,une_life,une_hiv,une_gni,une_poverty,une_edu_spend,une_literacy,une_school
0,Angola,AGO,Africa,2000,47.33730,14.73400,383.5583,0.137985,0.025695,1.47439,...,1.90860,16395.473,122.2,46.522,1.0,2530.0,32.3,2.60753,NaN,NaN
1,Angola,AGO,Africa,2001,48.19789,14.95963,372.3876,0.133675,0.024500,1.94025,...,4.48352,16945.753,118.9,47.059,1.1,2630.0,NaN,NaN,67.40542,NaN
2,Angola,AGO,Africa,2002,49.42569,15.20010,354.5147,0.128320,0.023260,2.07512,...,3.32946,17519.417,115.1,47.702,1.2,3180.0,NaN,NaN,NaN,NaN
3,Angola,AGO,Africa,2003,50.50266,15.39144,343.2169,0.122040,0.021925,2.20275,...,3.54797,18121.479,110.8,48.440,1.3,3260.0,NaN,NaN,NaN,NaN
4,Angola,AGO,Africa,2004,51.52863,15.56860,333.8711,0.115700,0.020545,2.41274,...,3.96720,18758.145,106.2,49.263,1.3,3560.0,NaN,NaN,NaN,NaN

## 2. Tiền xử lí dữ liệu

### Với mỗi cột số, các giá trị được phân bổ như thế nào?

#### Phần trăm giá trị còn thiếu là bao nhiêu?

In [12]:
def missing_values(cols,df):
    missing_percentage = 1 - cols.count() / len(df)
    return missing_percentage
# print(missing_values(df.select_dtypes(include='number'),df))
missing_percentage_df = missing_values(df.select_dtypes(include='number'),df)
missing_percentage_df = pd.DataFrame({'Missing percentage': missing_percentage_df })
print(missing_percentage_df)

                 Missing percentage
year                       0.000000
life_expect                0.000000
life_exp60                 0.000000
adult_mortality            0.000000
infant_mort                0.000000
age1-4mort                 0.000000
alcohol                    0.016072
bmi                        0.010929
age5-19thinness            0.010929
age5-19obesity             0.010929
hepatitis                  0.182899
measles                    0.006107
polio                      0.006107
diphtheria                 0.006107
basic_water                0.010286
doctors                    0.427837
hospitals                  0.958213
gni_capita                 0.219222
gghe-d                     0.032144
che_gdp                    0.037608
une_pop                    0.011893
une_infant                 0.000000
une_life                   0.000000
une_hiv                    0.238187
une_gni                    0.037608
une_poverty                0.706525
une_edu_spend              0.413372
une_literacy               0.816458
une_school                 0.741241

#### Giá trị nhỏ nhất? Giá trị lớn nhất? Các giá trị này có gì bất thường không?

In [6]:
numeric_df = df.select_dtypes(include='number')
rs = {
     'Min' : numeric_df.min(),
     'Max': numeric_df.max()
}
result = pd.DataFrame(rs)
result

                         Min           Max
year             2000.000000  2.016000e+03
life_expect        36.227360  8.416616e+01
life_exp60         10.728000  2.639402e+01
adult_mortality    49.201850  6.968742e+02
infant_mort         0.001470  1.645150e-01
age1-4mort          0.000065  3.909500e-02
alcohol             0.000000  2.018246e+01
bmi                19.800000  3.220000e+01
age5-19thinness     0.100000  2.810000e+01
age5-19obesity      0.100000  2.670000e+01
hepatitis           2.000000  9.900000e+01
measles            16.000000  9.900000e+01
polio               8.000000  9.900000e+01
diphtheria         19.000000  9.900000e+01
basic_water        18.695210  1.000000e+02
doctors             0.128000  7.954100e+01
hospitals           0.000000  5.644695e+01
gni_capita        250.000000  1.238600e+05
gghe-d              0.062360  1.206273e+01
che_gdp             1.025160  2.041341e+01
une_pop            76.016000  1.414049e+06
une_infant          1.600000  1.424000e+02
une_life           39.441000  8.398488e+01
une_hiv             0.100000  2.820000e+01
une_gni           420.000000  1.226700e+05
une_poverty         0.100000  9.410000e+01
une_edu_spend       0.787440  1.405908e+01
une_literacy       14.376040  9.999819e+01
une_school          0.559340  1.437880e+01

### Với mỗi cột phân loại, các giá trị được phân bổ như thế nào?

#### Phần trăm giá trị còn thiếu là bao nhiêu?

In [13]:
def missing_values(cols,df):
    missing_percentage = 1 - cols.count() / len(df)
    return missing_percentage

missing_percentage_df = missing_values(df.select_dtypes(include='object'),df)
missing_percentage_df = pd.DataFrame({'Missing percentage': missing_percentage_df })
print(missing_percentage_df)

              Missing percentage
country                      0.0
country_code                 0.0
region                       0.0